[submodule "pytuflow/tmf"]
	path = pytuflow/tmf
	url = https://gitlab.com/tuflow/public/tuflow-model-files.git 
[submodule "pytuflow/fm_to_estry"]
	path = pytuflow/fm_to_estry
	url = https://gitlab.com/tuflow-user-group/tuflow/model-conversions/fm-to-estry.git 
